body {
  color:black;
  background-color:#FFFEFD;
  font: normal normal 14px Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  max-width:60em;
}

header {
  margin: 35px 0;
}

footer {
  text-align: right;
  margin: 36px 0 0 0;
  border-top: solid 1px rgb(240,240,240);
  padding: 20px 0;
}

section {
  margin: 30px 0 2px 0;
}

p {
  margin: 4px 0 12px 0;
  padding-left:10px;
}

pre {
  margin: 4px 0 12px 0;
  padding-left:10px;
}


h1 {
  font: normal bold 22px;
  font-family: "ＭＳ Ｐ明朝","MS PMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;
}

h2 {
  font-size: 14px;
  padding-left:10px;
}

h3 {
  margin: 15px 0 2px 0;
  padding-left:20px;
  font-size: 13px;
}

h4 {
  margin: 15px 0 2px 0;
}

blockquote {
  font-style: italic;
}

#back-to-top {
  float: left;
  width: 30em;
  text-align: left;
}

#back-to-top a {
  color: black;
}

#back-to-top a:hover {
  background-color: rgb(244,244,244);
}
